-- Create api_usage table to track Gemini API token consumption
CREATE TABLE IF NOT EXISTS public.api_usage (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    created_at TIMESTAMPTZ NOT NULL DEFAULT timezone('utc', now()),
    operation_type TEXT NOT NULL, -- 'chat', 'embed_query', 'embed_chunk'
    model TEXT NOT NULL, -- 'gemini-2.5-flash', 'gemini-embedding-001'
    prompt_tokens INTEGER NOT NULL DEFAULT 0,
    candidates_tokens INTEGER NOT NULL DEFAULT 0,
    total_tokens INTEGER NOT NULL DEFAULT 0
);

-- Enable RLS
ALTER TABLE public.api_usage ENABLE ROW LEVEL SECURITY;

-- Allow anonymous inserts and reads (since app is single-user and client-side only for now)
CREATE POLICY "Allow anonymous insert on api_usage"
    ON public.api_usage
    FOR INSERT
    TO anon
    WITH CHECK (true);

CREATE POLICY "Allow anonymous read on api_usage"
    ON public.api_usage
    FOR SELECT
    TO anon
    USING (true);

-- Create index for faster querying by date and operation
CREATE INDEX IF NOT EXISTS api_usage_created_at_idx ON public.api_usage (created_at DESC);
CREATE INDEX IF NOT EXISTS api_usage_operation_type_idx ON public.api_usage (operation_type);
